.slides section {
    padding: 10px;
    vertical-align: top;
}

.main-title {
    text-transform: none;
    font-size: 75px;
    font-family: "Noto serif", serif;
    text-align: center;
    font-weight: 400;
    margin: 15px 0;
    line-height: 90px;
    
}

.main-subtitle {
    text-transform: none;
    font-size: 55px;
    font-family: "Noto serif", serif;
    text-align: center;
    font-weight: 300;
    margin: auto;
}

#first-author {
    margin-top: 90px;
}

.authors {
    list-style-type: none;
    font-size: 35px;
    font-family: "Outfit", sans-serif;
    text-align: left;
    margin: 0 0 10px;
    padding: 0;
    font-weight: 200;
}


.chapter h1 {
    text-transform: none;
    font-size: 100px;
    font-family: "Noto serif", serif;
    text-align: left;
    font-weight: 600;
    color: white;
    margin: auto;
}

.slide-title {
    text-transform: none;
    font-size: 80px;
    font-family: "Noto serif", serif;
    text-align: left;
    font-weight: 400;
    margin: 10px -40px 40px;
}

.slide-title-2 {
    text-transform: none;
    font-size: 70px;
    font-family: "Noto serif", serif;
    text-align: left;
    font-weight: 400;
    margin: 10px -40px 40px;
}

.slide-title-3 {
    text-transform: none;
    font-size: 60px;
    font-family: "Noto serif", serif;
    text-align: left;
    font-weight: 400;
    margin: 10px -40px 40px;
}

.slide-title-4 {
    text-transform: none;
    font-size: 52.5px;
    font-family: "Noto serif", serif;
    text-align: left;
    line-height: 1.45em;
    margin:0;
    padding:0;
    font-weight: 300;
}

.list-1 {
    margin: 0;
}

.list-1 li {
    font-size: 35px;
    font-family: "Open sans", sans-serif;
    margin: 0 0 20px;
    text-align: left;
    line-height: 55px;
    font-weight: 300;
}

.sublist-1 {
    margin: 20px 20px 0px;
}

.sublist-1 li {
    font-size: 30px;
    font-family: "Open sans", sans-serif;
    margin: 10px 0 10px;
    text-align: left;
    font-weight: 300;
}

.list-2 {
    margin: auto 40px;
}

.list-2 li {
    font-size: 35px;
    font-family: "Open sans", sans-serif;
    margin: 10px 0 10px;
    text-align: left;
    line-height: 60px;
    font-weight: 300;
}

.list-3 li {
    font-size: 37.5px;
    font-family: "Open sans", sans-serif;
    margin: 0 0 20px;
    text-align: left;
    line-height: 60px;
    font-weight: 300;
}

.list-4 {
    margin: 0;
}

.list-4 li {
    font-size: 35px;
    font-weight: 400;
    font-family: "Open sans", sans-serif;
    margin: 0 0 20px;
    text-align: left;
    line-height: 55px;
    font-weight: 300;
}

.sublist-4 {
    margin: 20px 20px 0px;
}

.sublist-4 li {
    font-size: 32.5px;
    font-family: "Open sans", sans-serif;
    margin: 10px 0 10px;
    text-align: left;
    font-weight: 300;
}

.plot-title-1 {
    font-family: "Inter"; 
    font-size: 37px;
    text-align: left;
    margin: 5px 0;
}

.plot-subtitle-1 {
    font-family: "Inter"; 
    font-size: 25px;
    text-align: left;
    padding-left: 40px;
    margin: 10px 0 20px;
}

.plot-subtitle-1 select {
    font-family: "Inter";
    font-size: 23px;
}

.plot-title-2 {
    font-family: "Inter"; 
    font-size: 37px;
    text-align: left;
    margin: 10px 0 15px;
}

.plot-title-3 {
    font-family: "Inter"; 
    font-size: 37px;
    text-align: left;
    margin: 10px 0;
}

.plot-subtitle-3 {
    font-family: "Inter"; 
    font-size: 25px;
    text-align: left;
    padding-left: 40px;
    margin: 10px 0 10px;
}

.img1 {
    object-fit: contain;
    height: 700px;
    margin: -80px 0 0 ;

}

.plot-source {
    font-family: "Nunito Sans", sans-serif;
    font-size: 17.5px;
    text-align: right;
    color:#6e6e6e;
    margin: 0;
    padding: 0;
}

.gas-span {
    color: #a91ee1;
}

.textButton {
    display: flex;
    flex-flow: row wrap;
}

#showGas {
    margin: 10px 100px;
    padding: 5px;
    font-family: "Inter";
    font-size: 23px;
    border: .5px solid #47ba19;
    border-radius: 5px;
    color: #47ba19;
    background-color: white;
}

#selectOption:hover,
#showGas:hover {
    cursor: pointer;
    background-color: rgb(240, 240, 240);
}

.obs-span {
    color:#cc594c;
}

.synth-span {
    color: #4c3cdc;
}

.buttonsPanel {
    display: flex;
    justify-content: start;
    margin: 5px 20px;
}

.buttons {
    font-family: "Inter";
    font-size: 20px;
    background-color: white;
    border-radius: 5px;
    border: .5px solid black;
    margin: 0 10px
}

.buttons:hover {
    cursor: pointer;
    background-color: rgb(240, 240, 240);
}

.es-span {
    color:#d11e1e;
}

.pt-span {
    color: #30a956;
}

.slide-text {
    text-align: left;
    font-family: "Open sans", sans-serif;
    font-size: 40px;
    padding-top: 5px;
    margin: 0 0 20px -20px;
    font-weight: 400;
}

.slide-text-1 {
    text-align: left;
    font-family: "Open sans", sans-serif;
    font-size: 40px;
    padding-top: 5px;
    margin: 0 0 20px -20px;
    font-weight: 300;
}

.slide-text-2 {
    text-align: left;
    font-family: "Open sans", sans-serif;
    font-size: 35px;
    padding-top: 5px;
    margin: 0 0 20px -20px;
    font-weight: 300;
}

.legend-box {
    display:flex;
    gap: 80px;
}

.checkbox-att {
    display:flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    margin: 10px auto;
    border: 0.5px solid #5b5b5b;
    border-radius: 5px;
    line-height: 0;
    margin: 10px 0;
}

.check-label-att {
    font-size: 20px;
    margin: -15px 0 5px;
    padding: 0;
}

.checkbox-nrg {
    display:flex;
    align-items: center;
    justify-content: space-around;
    width: 85%;
    margin: 20px auto 10px;
    border: 0.5px solid #5b5b5b;
    border-radius: 5px;
    line-height: 0;
    padding: 20px auto;
}

.checkbox-nrg div {
    padding: 5px 0;
}

.check-label-nrg {
    font-size: 20px;
    margin: -15px 0 10px;
    padding: 0;
}

.bss-card{
    position: absolute;
    bottom: -325px;
    right: 50px;
    width: 400px;
    height: 210px;
    margin: 10px auto;
    border: 0.25px solid #7777778a;
    border-radius: 7.5px;
    background: rgb(255,255,255);
    background: linear-gradient(40deg, rgba(255,255,255,1) 10%, rgba(241,240,250,1) 40%, rgba(71,100,200,1) 97%);
}

.bss-name {
    font-size: 35px;
    font-family: "Outfit", sans-serif;
    text-align: left;
    padding: 30px 0 30px 30px;
    margin: 0;
    font-weight: 100;
}

.bss-mail,
.bss-web {
    font-size: 25px;
    font-family: "Sometype Mono", monospace;
    text-align: right;
    padding: 5px 35px;
    margin: 0;
    font-weight: 400;
}

.references {
    list-style-type: none;
    text-align: left;
    margin-left: 40px;
    text-indent: -40px;
    font-family: "Open sans", sans-serif;
    font-size: 25px;
    margin-top: -20px;
}

.references li {
    padding-bottom: 15px;
}


.sc-bullet {
    text-align: left;
    font-family: "Open sans", sans-serif;
    font-size: 25px;
    padding-bottom: 10px;
}

.pkg-name{
    font-family: "Sometype Mono", monospace;
}

.image-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 70%;
    max-height: 300px;
    margin: 20px auto;
}

.image-div {
    width: 150px;
}

.image-div img {
    object-fit: cover;
    display: block;
}

